.header {
  position: fixed;
  width: 100%;
  padding: 2vw;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__logo-items {
    display: flex;
    width: 3vw;
    overflow: hidden;
    .logo {
      width: 3.1vw;
      &--hidden{
        transform: rotate(5deg);
      }
    }
  }
  &__cart {
    text-transform: uppercase;
  }
}