@use "../base/sizes.module";
@use "../base/layout.module";
@use "../base/globals.module";

.text {
  @extend .left-padding;

  &__wrapper {
    display: flex;
    .text__paragraph{
      display: inline-block;
    }
    .title-3 {
      width: 60vw;
    }
  }
}

.text__paragraph {
  font-size: sizes.$size_29;
  font-weight: 300;
  letter-spacing: -.15rem;
  text-transform: uppercase;
  text-decoration: underline;
  color: globals.$primary-dark;
}