@font-face {
  font-family: 'ABC Favorit Mono Variable Unlicensed Trial';
  src: url('../../fonts/ABCFavoritMono-Book.otf') format('otf');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Black Italic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Bold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial Variable';
  src: url('../../fonts/TT Trailers Trial Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial ExtraLight Italic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}


@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Light Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial ExtraBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial ExtraBold Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Thin Italic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Trailers Trial';
  src: url('../../fonts/TT Trailers Trial Medium Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}


