@use 'font.module';

html {
  font-size: calc(100vw / 1920 * 10);
}

$primary-dark :#141414;
$primary-light : #FcF9ee;
$primary-yellow : #ddc92a;
$primary-brown : #e7d6c4;

/* FONTS */

$font-base: "ABC Favorit Mono Unlicensed Trial";


//Export sass variables
:export {
  primaryDark: $primary-dark;
}