


/* =====================
SIZE VARIABLE
===================== */

$size_0: 0rem;
$size_1: 0.06rem;
$size_2: .125rem;
$size_4: .25rem;
$size_6: .375rem;
$size_8: 0.5rem;
$size_9: 0.5625rem;
$size_11: .6875rem;
$size_12: .75rem;
$size_13: .8125rem;
$size_14: .875rem;
$size_15: .9375rem;
$size_17: 1.0625rem;
$size_18: 1.125rem;
$size_19: 1.1875rem;
$size_20: 1.25rem;
$size_21: 1.3125rem;
$size_22: 1.375rem;
$size_23: 1.4375rem;
$size_24: 1.5rem;
$size_25: 1.5625rem;
$size_26: 1.625rem;
$size_27: 1.6875rem;
$size_28: 1.75rem;

$size_30: 1.875rem;
$size_31: 1.9375rem;
$size_32: 2rem;
$size_33: 2.06rem;
$size_34: 2.125rem;
$size_36: 2.25rem;
$size_37: 2.3125rem;
$size_38: 2.375rem;
$size_41: 2.5625rem;
$size_42: 2.625rem;
$size_43: 2.6875rem;
$size_44: 2.75rem;
$size_45: 2.813rem;
$size_46: 2.875rem;

$size_52 : 3.25rem;
$size_54 : 3.375rem;
$size_55 : 3.4375rem;
$size_56 : 3.5rem;
$size_58 : 3.625rem;
$size_59 : 3.688rem;
$size_60 : 3.75rem;
$size_62 : 3.85rem;
$size_64 : 4rem;
$size_65 : 4.0625rem;
$size_68 : 4.25rem;
$size_70 : 4.37rem;
$size_75 : 4.688rem;
$size_80 : 5rem;
$size_165 : 10.313rem;

$size_10: 1rem;
$size_16: 1.6rem;

$size_29: 2.9rem;
$size_35: 3.5rem;
$size_40: 4rem;
$size_48 : 4.8rem;
$size_50 : 5rem;
$size_82 : 8.2rem;
$size_96 : 9.6rem;
$size_134 : 13.4rem;
$size_192 : 19.2rem;


